.row
  .col-lg-4
    %img.img-circle{alt: "Small team", src: image_path('small-team.png')}/
    %h2 For small teams
    %p You can easily setup your first teamboard and check on your project within minutes, no coding required. You can easily integrate TeamStatus.TV with your Atlassian OnDemand account.
    %p
      - if beta
        %a.btn.btn-default{href: "/auth/google", 'data-mixpanel' => 'Small'} Try it now with Google account »
      - else
        %a.btn.btn-default{href: "/signup", 'data-mixpanel' => 'Small'} Try it now »
  .col-lg-4
    %img.img-circle{alt: "Large enterprise", src: image_path('large-team.png')}/
    %h2 For medium teams
    %p You can setup multiple teamboards for each of your teams, you can also allow multiple people to manage them. You can integrate with Atlassian OnDemand or you public instances.
    %p
      - if beta
        %a.btn.btn-default{href: "/auth/google", 'data-mixpanel' => 'Large'} Try it now with Google account »
      - else
        %a.btn.btn-default{href: "/signup", 'data-mixpanel' => 'Large'} Try it now »
  .col-lg-4
    %img.img-circle{alt: "Enterprise", src: image_path('infinity.png')}/
    %h2 For enterprise companies
    %p You can setup VPN to access your internal systems securely and if you don't like the idea of using cloud service there's a possibility of hosting TeamStatus.TV on your servers.
    %p
      %a.btn.btn-default{href: "mailto:enterprise@teamstatus.tv", 'data-mixpanel' => 'Enterprise'} Contact us »
