- content_for(:head) do
  != stylesheet_tag "index"
- content_for(:scripts) do
  != javascript_tag('index')

.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-static-top
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: "#"} TeamStatus.TV
/
  Carousel
  \==================================================
#myCarousel.carousel.slide
  / Indicators
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
  .carousel-inner
    .item.active
      %img{alt: "JIRA integration", src: image_path("jiraboard.png")}/
      .container
        .carousel-caption
          %h1 See progress of your project
          %p Watch Bamboo builds, JIRA issues or Crucible reviews in one place.
    .item
      %img{alt: "System integration", src: image_path("adminboard.png")}/
      .container
        .carousel-caption
          %h1 See status of your systems
          %p Watch processes, queues, disk space or memory usage in one place.
    .item
      %img{alt: "Custom integration", src: image_path("customboard.png")}/
      .container
        .carousel-caption
          %h1 Adapt to your needs
          %p Easily customize it to monitor all your systems.
  %a.left.carousel-control{"data-slide" => "prev", href: "#myCarousel"}
    %span.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{"data-slide" => "next", href: "#myCarousel"}
    %span.glyphicon.glyphicon-chevron-right

.container.marketing
  / Three columns of text below the carousel
  .row
    .col-lg-4
      %img.img-circle{alt: "Small team", src: image_path('small-team.png')}/
      %h2 For small teams
      %p You can easily setup your first teamboard and check on your project within minutes, no coding required. You can easily integrate TeamStatus.TV with your Atlassian OnDemand account.
      %p
        - if beta
          %a.btn.btn-default{href: "/auth/google", 'data-mixpanel' => 'Small'} Try it now with Google account »
        - else
          %a.btn.btn-default{href: "/signup", 'data-mixpanel' => 'Small'} Try it now »
    .col-lg-4
      %img.img-circle{alt: "Large enterprise", src: image_path('large-team.png')}/
      %h2 For medium teams
      %p You can setup multiple teamboards for each of your teams, you can also allow multiple people to manage them. You can integrate with Atlassian OnDemand or you public instances.
      %p
        - if beta
          %a.btn.btn-default{href: "/auth/google", 'data-mixpanel' => 'Large'} Try it now with Google account »
        - else
          %a.btn.btn-default{href: "/signup", 'data-mixpanel' => 'Large'} Try it now »
    .col-lg-4
      %img.img-circle{alt: "Enterprise", src: image_path('infinity.png')}/
      %h2 For enterprise companies
      %p You can setup VPN to access your internal systems securely and if you don't like the idea of using cloud service there's a possibility of hosting TeamStatus.TV on your servers.
      %p
        %a.btn.btn-default{href: "mailto:enterprise@teamstatus.tv", 'data-mixpanel' => 'Enterprise'} Contact us »

  .signup-invitation
    %h1 Participate in our private beta!
    We're currently running a closed beta program. Please leave your email and we will contact you shortly.

  #notices
    #success{style: "display: none;"} Success! Please check your inbox for a confirmation request.
    #error{style: "display: none;"} Sorry, MailChimp couldn't validate your email. Try again?

  %form{id: 'signup', action: "/signup"}
    .input-group
      %input.form-control.input-lg#email{name: "email", placeholder: "Email me about the project", type: "text"}/
      %span.input-group-btn
        %button.btn.btn-success.input-lg{type: "submit"}
          %i.fa.fa-spinner.fa-spin.loading
          Subscribe

    %p.signup-terms
      You will receive only relevant, occasional messages, and your email
      will be stored only by TeamStatus.TV, ensuring prompt removal should you
      choose to unsubscribe.


  %hr.footer-divider/

  %footer
    %p
      .fb-like{"data-action" => "like", "data-href" => "https://www.facebook.com/TeamStatus.tv", "data-layout" => "standard", "data-share" => "true", "data-show-faces" => "false"}

    %p
      %g:plusone{href: "http://teamstatus.tv", size: "medium"}

    %p
      %a.twitter-share-button{"data-text" => "You project's progress on big TV! Builds, issues, and whatever you need! From @TeamStatusTV", "data-url" => "http://teamstatus.tv", href: "https://twitter.com/share"} Tweet

    .clearfix
    %p.pull-right
      %a{href: "#"} Back to top
    %p
      \&#169; 2013 Team Status
      \&#183;
      %a{href: "http://twitter.com/TeamStatusTV"} Twitter
      \&#183;
      %a{href: "mailto:pawel@teamstatus.tv"} Contact us
