- content_for(:head) do
  != stylesheet_tag "index"
- content_for(:scripts) do
  != javascript_tag('index')

.container
  .jumbotron
    %a{:href => "http://demo.teamstatus.tv", :title => "Click to see a demo"}
      %img{alt: "JIRA integration", src: image_path("jiraboard.png")}/
      %h5 Click to see a demo

    %h1
      %span.qoute “
      We have great data but it's spread across many systems
      %span.qoute ”

  .content
    %p
      That's why we created TeamStatus.TV - we had the same pain.
    %p
      You have all those great tools. Issues in JIRA, reviews in Crucible, business data elsewhere.
    %p
      You know that an informed team makes better decision and people knowing the big picture feel more motivated.
    %p
      So you probably want to have a central place (like we do) when you can go to see the most important data.
    %p Imagine:

    %ul.questions
      %li You have a reference point during stand ups
      %li You can check the state of continuous integration with one glimpse
      %li You have good data
      %li You can make good decisions
      %li All team members are on the same page

    %p
      And, while you're imagining that lovely scenario… What if you could instantly see, no jumping through different systems required, how your project is doing?

    %h1
      If you find you're spending more time gathering stats about your project than actually getting work done, check out TeamStatus.TV
    %p
      We love the tools we use, but even more we love having one central place to keep the data about our project.
    %p
      When you use TeamStatus.TV you get the benefit of using a tool designed to help you get the most of your other tools, to understand:

    %ul.answers
      %li number of issues in progress
      %li list of support inqueries
      %li current state of continuos integration
      %li how many code reviews are open

    %p
      In addition you can build your own custom integrations, so you can tailor it to your needs.

    %p We've built it thinking about your needs, tailored for:
    %ul.teams
      %li teams that do software development
      %li support engineers
      %li devops and sysadmins

  .signup-invitation
    %h1 Interested? Join our beta program!
    We're currently running a closed beta. Please leave your email and we will enroll you shortly.

  #notices
    #success{style: "display: none;"}
      .alert.alert-success
        %div Success! Please check your inbox for a confirmation request.

      .well.well-lg
        %p While you wait spread the word:
        %p.share
          .fb-like{"data-action" => "like", "data-href" => "https://www.facebook.com/TeamStatus.tv", "data-layout" => "button_count", "data-share" => "true", "data-show-faces" => "false"}

          %g:plusone{href: "http://teamstatus.tv", size: "medium"}

          %a.twitter-share-button{"data-text" => "You project's progress on big TV! Builds, issues, and whatever you need! From @TeamStatusTV", "data-url" => "http://teamstatus.tv", href: "https://twitter.com/share"} Tweet

          %script{"data-counter" => "right", "data-url" => "http://teamstatus.tv", type: "IN/Share"}

    #error.alert.alert-danger{style: "display: none;"} Sorry, MailChimp couldn't validate your email. Try again?

  %form{id: 'signup', action: "/signup"}
    .input-group
      %input.form-control.input-lg#email{name: "email", placeholder: "Leave an email if you want to join", type: "text"}/
      %span.input-group-btn
        %button.btn.btn-success.input-lg{type: "submit"}
          %i.fa.fa-spinner.fa-spin.loading
          Join!

    %p.signup-terms
      We hate SPAM, this address will be used solely (and occasionally) by TeamStatus.TV, you can unsubscribe any time.


  %hr.footer-divider/

  %footer
    %p.pull-right
      %a{href: "#"} Back to top
    %p
      \&#169; 2013 Team Status
      \&#183;
      %a{href: "http://twitter.com/TeamStatusTV"} Twitter
      \&#183;
      %a{href: "mailto:pawel@teamstatus.tv"} Contact us
