- content_for(:head) do
  != stylesheet_tag "index"
- content_for(:scripts) do
  !=javascript_tag('//cdnjs.cloudflare.com/ajax/libs/holder/2.0/holder.js')
  :javascript
    mixpanel.track("Home");

.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-static-top
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: "#"} TeamStatus.TV
/
  Carousel
  \==================================================
#myCarousel.carousel.slide
  / Indicators
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
  .carousel-inner
    .item.active
      %img{alt: "JIRA integration", src: image_path("jiraboard.png")}/
      .container
        .carousel-caption
          %h1 See progress of your project
          %p Watch Bamboo builds, JIRA issues or Crucible reviews in one place.
    .item
      %img{alt: "System integration", src: image_path("adminboard.png")}/
      .container
        .carousel-caption
          %h1 See status of your systems
          %p Watch processes, queues, disk space or memory usage in one place.
    .item
      %img{alt: "Custom integration", src: image_path("customboard.png")}/
      .container
        .carousel-caption
          %h1 Adapt to your needs
          %p Easily customize it to monitor all your systems.
  %a.left.carousel-control{"data-slide" => "prev", href: "#myCarousel"}
    %span.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{"data-slide" => "next", href: "#myCarousel"}
    %span.glyphicon.glyphicon-chevron-right

.container.marketing
  / Three columns of text below the carousel
  .row
    .col-lg-4
      %img.img-circle{alt: "Small team", src: image_path('small-team.png')}/
      %h2 For small
      %p You can easily setup your first teamboard and check on your project within minutes, no coding required. You can easily integrate TeamStatus.TV with your Atlassian OnDemand account.
      %p
        %a.btn.btn-default{href: "/signup"} Try it now »
    .col-lg-4
      %img.img-circle{alt: "Large enterprise", src: image_path('large-team.png')}/
      %h2 For large
      %p You can setup multiple teamboards for each of your teams, you can also allow multiple people to manage them. You can integrate with Atlassian OnDemand or you public instances.
      %p
        %a.btn.btn-default{href: "/signup"} Try it now »
    .col-lg-4
      %img.img-circle{alt: "Enterprise", src: image_path('infinity.png')}/
      %h2 For enterprise
      %p You can setup VPN to access your internal systems securely and if you don't like the idea of using cloud service there's a possibility of hosting TeamStatus.TV on your servers.
      %p
        %a.btn.btn-default{href: "mailto:enterprise@teamstatus.tv"} Contact us »

  %hr.featurette-divider/

  %footer
    %p.pull-right
      %a{href: "#"} Back to top
    %p
      \&#169; 2013 Team Status
      - if (twitter=ab_test("twitter", "none", "TeamStatusTV", "devonsteroids")) != "none"
        \&#183;
        %a{href: "http://twitter.com/#{twitter}"} Twitter
      \&#183;
      %a{href: "mailto:pawel@teamstatus.tv"} Contact us

