%hr.featurette-divider/
.row.featurette
  .col-md-7
    %h2.featurette-heading
      JIRA integration
      %span.text-muted out of the box.
    %p.lead See how many story points you finish daily. How many tasks are critical. Are there any tasks waiting for QA?
  .col-md-5
    %img.featurette-image.img-responsive{alt: "Generic placeholder image", "data-src" => "holder.js/500x500/auto", src: "data:image/png;base64,"}/
%hr.featurette-divider/
.row.featurette
  .col-md-5
    %img.featurette-image.img-responsive{alt: "Generic placeholder image", "data-src" => "holder.js/500x500/auto", src: "data:image/png;base64,"}/
  .col-md-7
    %h2.featurette-heading
      Bamboo
      %span.text-muted continuous integration.
    %p.lead Monitor your running builds. See sea of green builds. Instantly know who broke the build.
%hr.featurette-divider/
.row.featurette
  .col-md-7
    %h2.featurette-heading
      ServiceDesk
      %span.text-muted your support queue.
    %p.lead How many issues are waiting in the queue? What's your SLA? Are you doing well?
  .col-md-5
    %img.featurette-image.img-responsive{alt: "Generic placeholder image", "data-src" => "holder.js/500x500/auto", src: "data:image/png;base64,"}/
