%img.thumbnail.pull-left{ "data-src"=> "holder.js/140x140", "bs-holder" => ""}
%h1 {{currentWidget.name}}
%p {{currentWidget.description}}
/ %i.fa.fa-spinner.fa-spin
.clearfix
%form{role: "form", :name => "addWidgetForm", "ng-submit" => "addWidget()"}
	.form-group
		%label{for: "title"} Widget title
		%input#title.form-control{name: "title", "ng-model" => "widgetSettings.title", placeholder: "Optional title", type: "text"}/

	.settings
	%button.btn.btn-success{:type => "submit"}
		%i.fa.fa-plus
		Add widget