%img.thumbnail.pull-left{ "data-src"=> "holder.js/140x140", "bs-holder" => ""}
%h1 {{widget.name}}
%p {{widget.description}}
/ %i.fa.fa-spinner.fa-spin
.clearfix
%button.btn.btn-success.pull-right{:type => "button"}
	%i.fa.fa-plus
	Add widget