<!--Header & Branding region-->
<div class="header">
  <div class="header-inner container">
    <div class="row">
      <div class="col-md-8">
        <!--branding/logo-->
        <a class="navbar-brand" href="index.htm" title="Home">
        <h1><span>App</span>Strap<span>.</span></h1>
        </a>
        <div class="slogan">Responsive HTML Theme</div>
      </div>

      <!--header rightside-->
      <div class="col-md-4">
        <!--social media icons-->
        <div class="social-media">
          <!--@todo: replace with company social media details-->
          <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-google-plus"></i></a> </div>
      </div>
    </div>
    <div id="header-hidden-link"> <a href="#" title="Click me you'll get a surprise" class="show-hide" data-toggle="show-hide" data-target=".header-hidden"><i></i>Open</a> </div>
  </div>
</div>
