.feature.col-sm-6.col-md-3
  %a{href: features_path}
    %img.img-responsive{alt: "Atlassian Integration", src: image_path('feature-atlassian.png')}/
  %h3.title
    %a{href: features_path}
      Tight
      %span.de-em Integration
  %p JIRA, Bamboo, Crucible, TeamStatus knows how to talk with them! You can display number of waiting issues, revies, or failed builds!

.feature.col-sm-6.col-md-3
  %a{href: features_path}
    %img.img-responsive{alt: "Feature 3", src: "img/features/feature-3.png"}/
  %h3.title
    %a{href: features_path}
      Customize
      %span.de-em it
  %p
    Source code for
    %a{href: 'https://bitbucket.org/teamstatus/integrations'} integrations
    is freely available and you can customize it. We'll help you run it on our service.

.feature.col-sm-6.col-md-3
  %a{href: features_path}
    %img.img-responsive{alt: "Your terms", src: "img/features/feature-4.png"}/
  %h3.title
    %a{href: features_path}
      Your
      %span.de-em terms
  %p Wheter you prefer a service hosted in the cloud or on your server we have a solution for you.

/ .feature.col-sm-6.col-md-3
/   %a{href: features_path}
/     %img.img-responsive{alt: "Feature 2", src: "img/features/feature-2.png"}/
/   %h3.title
/     %a{href: features_path}
/       24/7
/       %span.de-em Support
/   %p Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.
