/ Customer testimonial
#testimonials.block.testimonials.margin-top-large.margin-bottom-large
  %h3.title-divider
    %span
      Highly
      %span.de-em Recommended
    %small 99% of our customers recommend us!
  .row
    .col-md-4
      %blockquote
        %p "It's totally awesome, we're could imagine life without it!"
        %small
          %img.img-circle{alt: "Jimi Bloggs", src: "img/team/jimi.jpg"}/
          Jimi Bloggs
          %span.spacer /
          %a{href: "#"} @mrjimi
    .col-md-4
      %blockquote
        %p "10 out of 10, highly recommended!"
        %small
          %img.img-circle{alt: "Jimi Bloggs", src: "img/team/jobs.jpg"}/
          Steve Bloggs
          %span.spacer /
          %a{href: "#"} Founder of Apple
    .col-md-4
      %blockquote
        %p "Our productivity &amp; sales are up! Couldn't be happier!"
        %small
          %img.img-circle{alt: "Adele Bloggs", src: "img/team/adele.jpg"}/
          Adele Bloggs
          %span.spacer /
          %a{href: "#"} @iamadele
