#stats.title-divider
  %h3
    %span
      Vital
      %span.de-em Stats
    %small Stats to impress!
.row.stats
  .col-md-3.stat
    .well 1280
    %small Happpy Customers
  .col-md-3.stat
    .well 1634
    %small GB Transfered
  .col-md-3.stat
    .well 2143
    %small Bugs Fixed
  .col-md-3.stat
    .well 12
    %small Share Holders