#highlighted
  .inner
    / Static Banner
    %section.static-banner.container
      .slide
        .col-md-7
          %img.img-responsive{alt: "Slide 1", src: image_path('slide-1.png')}/
        .col-md-5.caption
          %h2 All your data in sight!
          %h4 In one central place
          %p Perfect for your team!
          %a.btn.btn-lg.btn-primary{"data-toggle" => "modal", href: "#signup-modal"} Try now for free
#content
  .container
    .block
      %h2.title-divider
        %span
          Do you have a lot of data
          %span.de-em spread across many systems?

      %p If you do not want to waste your time and money anymore it is the right moment to change your attitude and make your business easier.

      %p Informed teams make better decisions and people knowing the big picture feel more motivated.

      %p We created TeamStatus.TV to help you collect in a real-time all indispensable data in one place in really effortless way.

      %p Imagine:

      %ul.questions
        %li You can pull out important informations from all databases, servers, project management tools continuously
        %li You can track all your business processes in one place
        %li You can make best decisions quickly based on facts
        %li You have a reference point during daily meetings
        %li All team members are on the same page

      %p And, while you're imagining that lovely scenario…

      %p What if you could instantly see, no jumping through different systems required, how your project is doing?

    .block
      %h2.title-divider
        %span
          Do you want to focus on your work
          %span.de-em instead of doing stats?

      %p We love the tools we use, but even more we love having one central place to keep the data about our projects and business.

      %p
        TeamStatus.TV is the solution for your problems. By designing your own dashboard with widgets showing data you need to run your business, you will see how simple management can be.

      %p
        = succeed ',' do
          %strong Build your own custom integrations
        tailor it to your needs and enjoy the simply created application made up of widgets which are designed to be attractive and easy to understand.

    / Services
    / .block.features
    /   %h2.title-divider
    /     %span
    /       Core
    /       %span.de-em Features
    /     / %small Core features included in all plans.
    /   .row
    /     =render :partial => 'main_features'

    / =render :partial => 'testimonials'
