%body.page.page-pricing
  %a.sr-only{href: "#content"} Skip to content
  #navigation.wrapper
    .navbar-static-top
      = render :partial => 'hidden_header'
      = render :partial => 'header_and_branding'
      = render :partial => 'navigation'

  #content
    .container
      .block
        / Default Pricing Table
        %h2.title-divider
          %span
            Pricing
            %span.de-em Plans
          %small Competitive pricing for all your needs.
        / Stack 1
        .row.pricing-stack
          .col-md-3
            .well
              %h3.title Starter
              %p.price
                %span.fancy Free!
              %ul.unstyled.points
                %li 3 User Accounts
                %li 3 Private Projects
                %li Umlimited Public Projects
                %li 5GB of space
              %a.btn.btn-primary Sign Up
          .col-md-3
            .well.active
              %h3.title
                %span.em Pro
                %span.fancy Plus
              %p.price
                %span.currency $
                %span.digits
                  49
                  %span .95
                %span.term /MO
              %ul.unstyled.points
                %li 50 User Accounts
                %li 50 Private Projects
                %li Umlimited Public Projects
                %li Unlimited space
              %a.btn.btn-primary Sign Up
          .col-md-3
            .well.active
              %h3.title
                %span.em Biz
                %span.fancy Plus
              %p.price
                %span.currency $
                %span.digits
                  199
                  %span .95
                %span.term /MO
              %ul.unstyled.points
                %li Umlimited User Accounts
                %li Umlimited Private Projects
                %li Umlimited Public Projects
                %li Unlimited space
              %a.btn.btn-primary Sign Up
          .col-md-3
            .well
              %h3.title
                Starter
                %span.fancy Plus
              %p.price
                %span.currency $
                %span.digits
                  19
                  %span .95
                %span.term /MO
              %ul.unstyled.points
                %li 10 User Accounts
                %li 10 Private Projects
                %li Umlimited Public Projects
                %li 15GB of space
              %a.btn.btn-primary Sign Up
        .row.pricing-stack.bordered-top-large
          .col-md-offset-1.col-sm-4.col-md-3
            .well
              %h3.title Starter
              %p.price
                %span.fancy Free!
              %ul.unstyled.points
                %li 3 User Accounts
                %li 3 Private Projects
                %li Umlimited Public Projects
                %li 5GB of space
              %a.btn.btn-primary Sign Up
          .col-sm-4.col-md-4
            .well.active
              %h3.title
                %span.em Pro
                %span.fancy Plus
              %p.price
                %span.currency $
                %span.digits
                  49
                  %span .95
                %span.term /MO
              %ul.unstyled.points
                %li 50 User Accounts
                %li 50 Private Projects
                %li Umlimited Public Projects
                %li Unlimited space
              %a.btn.btn-primary Sign Up
          .col-sm-4.col-md-3
            .well
              %h3.title
                Starter
                %span.fancy Plus
              %p.price
                %span.currency $
                %span.digits
                  19
                  %span .95
                %span.term /MO
              %ul.unstyled.points
                %li 10 User Accounts
                %li 10 Private Projects
                %li Umlimited Public Projects
                %li 15GB of space
              %a.btn.btn-primary Sign Up
        .row
          / Plan features
          .well.well-mini.pull-center
            %h4.inline-el.pad-right
              %span
                All Plans
                = succeed ":" do
                  %span.de-em Include
            %p.inline-el.pad-left.muted
              90 day money back guarantee
              %span.spacer //
              24/7 telephone support
              %span.spacer //
              FREE Setup
              %span.spacer //
              Migration Help
              %span.spacer //
              Developer API

  =render :partial => 'ending_wrapper'