%body.page.page-about
  %a.sr-only{href: "#content"} Skip to content
  #navigation.wrapper
    .navbar-static-top
      = render :partial => 'hidden_header'
      = render :partial => 'header_and_branding'
      = render :partial => 'navigation'

  #content
    #about.container
      .row
        =render :partial => 'about_sidebar'

        / main content
        .col-md-9
          %h2.title-divider
            %span
              Our
              %span.de-em privacy policy
            %small What &amp; who makes us tick!
          / About company
          %h4 How It All Began
          %p Elit pellentesque dolor facilisis aenean eu tempor, phasellus lundium risus dolor, augue, ridiculus nascetur odio ridiculus? Hac ac, adipiscing ut dapibus. Adipiscing cras in? Magna nisi augue odio! Pellentesque magnis? Lacus integer magnis purus sed mus lorem aliquam lectus, placerat pellentesque quis, nunc urna turpis lorem. Etiam velit, augue sed magnis placerat! In cras, dignissim lorem, porttitor in velit in, nisi vut a cursus cum, odio sagittis nisi turpis? Mus penatibus non, pulvinar porttitor arcu hac ut et ac integer? Ultricies est etiam sit. Urna ridiculus facilisis pulvinar, ultrices augue? Parturient velit non tincidunt sit sagittis pulvinar phasellus rhoncus hac! Sit porta. Tristique, hac. Porttitor adipiscing ac. Ac tincidunt a porttitor natoque auctor ultricies! Proin nunc scelerisque? Habitasse adipiscing? Cursus.
          %h4 Our Philosophy
          %p Elit pellentesque dolor facilisis aenean eu tempor, phasellus lundium risus dolor, augue, ridiculus nascetur odio ridiculus? Hac ac, adipiscing ut dapibus. Adipiscing cras in? Magna nisi augue odio! Pellentesque magnis? Lacus integer magnis purus sed mus lorem aliquam lectus, placerat pellentesque quis, nunc urna turpis lorem. Etiam velit, augue sed magnis placerat! In cras, dignissim lorem, porttitor in velit in, nisi vut a cursus cum, odio sagittis nisi turpis? Mus penatibus non, pulvinar porttitor arcu hac ut et ac integer? Ultricies est etiam sit. Urna ridiculus facilisis pulvinar, ultrices augue? Parturient velit non tincidunt sit sagittis pulvinar phasellus rhoncus hac! Sit porta. Tristique, hac. Porttitor adipiscing ac. Ac tincidunt a porttitor natoque auctor ultricies! Proin nunc scelerisque? Habitasse adipiscing? Cursus.
          %p Elit pellentesque dolor facilisis aenean eu tempor, phasellus lundium risus dolor, augue, ridiculus nascetur odio ridiculus? Hac ac, adipiscing ut dapibus. Adipiscing cras in? Magna nisi augue odio! Pellentesque magnis? Lacus integer magnis purus sed mus lorem aliquam lectus, placerat pellentesque quis, nunc urna turpis lorem. Etiam velit, augue sed magnis placerat! In cras, dignissim lorem, porttitor in velit in, nisi vut a cursus cum, odio sagittis nisi turpis? Mus penatibus non, pulvinar porttitor arcu hac ut et ac integer? Ultricies est etiam sit. Urna ridiculus facilisis pulvinar, ultrices augue? Parturient velit non tincidunt sit sagittis pulvinar phasellus rhoncus hac! Sit porta. Tristique, hac. Porttitor adipiscing ac. Ac tincidunt a porttitor natoque auctor ultricies! Proin nunc scelerisque? Habitasse adipiscing? Cursus.
          #stats.title-divider
            %h3
              %span
                Vital
                %span.de-em Stats
              %small Stats to impress!
          .row.stats
            .col-md-3.stat
              .well 1280
              %small Happpy Customers
            .col-md-3.stat
              .well 1634
              %small GB Transfered
            .col-md-3.stat
              .well 2143
              %small Bugs Fixed
            .col-md-3.stat
              .well 12
              %small Share Holders
          / Customer testimonial
          #testimonials.block.testimonials.margin-top-large.margin-bottom-large
            %h3.title-divider
              %span
                Highly
                %span.de-em Recommended
              %small 99% of our customers recommend us!
            .row
              .col-md-4
                %blockquote
                  %p "It's totally awesome, we're could imagine life without it!"
                  %small
                    %img.img-circle{alt: "Jimi Bloggs", src: "img/team/jimi.jpg"}/
                    Jimi Bloggs
                    %span.spacer /
                    %a{href: "#"} @mrjimi
              .col-md-4
                %blockquote
                  %p "10 out of 10, highly recommended!"
                  %small
                    %img.img-circle{alt: "Jimi Bloggs", src: "img/team/jobs.jpg"}/
                    Steve Bloggs
                    %span.spacer /
                    %a{href: "#"} Founder of Apple
              .col-md-4
                %blockquote
                  %p "Our productivity &amp; sales are up! Couldn't be happier!"
                  %small
                    %img.img-circle{alt: "Adele Bloggs", src: "img/team/adele.jpg"}/
                    Adele Bloggs
                    %span.spacer /
                    %a{href: "#"} @iamadele

  =render :partial => 'ending_wrapper'