.row
  =render :partial => 'about_sidebar'

  / main content
  .col-md-9
    %h2.title-divider
      %span
        Our
        %span.de-em privacy policy
      %small What happens to your data!

    %h4 Information we collect
    %p
      We collect data about you from a variety of sources, including:

      %ul
        %li Information you provide to us directly;
        %li Information we collect in connection with your use of TeamStatus Services; and
        %li Information we collect from integrations with third-party products, such as Google Apps.

      All of the information we collect may be combined to help us tailor our communications to you and to develop and improve our services.

    %h4 How We Use Your Information
    %p
      We use the information we collect to:

      %ul
        %li Provide the services you request;
        %li Communicate with you, including customer support;
        %li Report anonymized, aggregate usage statistics;
        %li Deliver marketing and other offers or information related to TeamStatus Services; and
        %li Improve TeamStatus Services.

    %h4 How We Share and Disclose Your Information
    %p
      We do not share your Personal Information with other people or nonaffiliated companies for their marketing purposes (including direct marketing purposes). We may use and share Non-Personal Information for our marketing purposes including to display advertisements on other websites. We may share information:

    %ul
      %li With our third-party service suppliers and vendors;
      %li If TeamStatus is merged or sold to another company;
      %li To protect and defend the rights and property of TeamStatus (including enforcing our End User Agreement); and
      %li When required by law.
