.row
  =render :partial => 'about_sidebar'

  / main content
  .col-md-9
    %h2.title-divider
      %span
        Your
        %span.de-em terms of use
      %small What we think you will use TeamStatus for!
    / About company
    %h4 Lawyers dispatched!
    %p Hopefully they will return with something understandable by mere mortals.
