.nav, .pagination, .carousel a { cursor: pointer; }

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}

.container-narrow > hr {
  margin: 30px 0;
}

.footer-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

}
