- content_for(:head) do
  %meta{:name => "ts.board.publicId", :content => board.publicId}
  %meta{:name => "ts.board.id", :content => board._id}
  %meta{:name => "ts.board.editUrl", :content => board.edit_url}
  != stylesheet_tag "console"
- content_for(:scripts) do
  !=javascript_tag('//cdnjs.cloudflare.com/ajax/libs/holder/2.0/holder.js')
  !=javascript_tag('console.js')
  :javascript
    mixpanel.track("Board");

.container{"ng-app" => "teamstatus.console.widget", "ng-controller" => "WidgetsCtrl"}

  .page-header
    %h1
      Add widget
      %small

  .row
    .col-md-2
      .list-group{"ng-cloak" => ""}
        %a.list-group-item{:href => "#/{{widget.id}}", "ng-repeat" => "widget in widgets", "ng-class" => "{active: widget.active}"} {{widget.name}}
    .col-md-8{"ng-view" => ""}

  %hr.footer-divider/

  %footer
    %p.pull-right
      %a{href: "#"} Back to top
    %p
      \&#169; 2013 Team Status
      \&#183;
      %a{href: "mailto:pawel@teamstatus.tv"} Contact us

