- content_for(:head) do
  %meta{:name => "ts.board.publicId", :content => board.publicId}
  %meta{:name => "ts.board.id", :content => board._id}
  %meta{:name => "ts.board.editUrl", :content => board.edit_url}
  != stylesheet_tag "console"
- content_for(:scripts) do
  !=javascript_tag('//cdnjs.cloudflare.com/ajax/libs/holder/2.0/holder.js')
  !=javascript_tag('console.js')
  :javascript
    mixpanel.track("Edit widget viewed");

.container{"ng-app" => "teamstatus.console.widget.edit", "ng-controller" => "EditWidgetsCtrl"}

  .page-header
    %h1
      Edit widget
      %small

  .row
    .col-md-3
      .list-group{"ng-cloak" => ""}
        %a.list-group-item{:href => "#/{{widget._id}}", "ng-repeat" => "widget in boardWidgets", "ng-class" => "{active: widget.active}"}
          {{widget.widgetSettings.title}}
          %span.label.label-default.pull-right {{widgetsMap[widget.widget].name}}
    .col-md-8{"ng-view" => ""}

  %hr.footer-divider/

  %footer
    %p.pull-right
      %a{href: "#"} Back to top
    %p
      \&#169; 2013 Team Status
      \&#183;
      %a{href: "mailto:pawel@teamstatus.tv"} Contact us

