- content_for(:head) do
  != stylesheet_tag "console"
- content_for(:scripts) do
  !=javascript_tag('//cdnjs.cloudflare.com/ajax/libs/holder/2.0/holder.js')
  !=javascript_tag('console.js')
  :javascript
    mixpanel.track("Console");

.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-static-top
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: "#"} TeamStatus.TV
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li.active
              %a{href: to('/jira')} JIRA
            %li
              %a{:href => to('/boards')} Boards
            %li
              %a{href: "mailto:pawel@teamstatus.tv?Subject=Feedback"} Feedback

.container{ "ng-app" => "" }
  - if not user.servers.exists?
    .row
      .col-md-2
      .col-md-8
        %h4
          Hello #{user.callingName}!
        %p It's really great that you joined! There are only 2 steps necessary to create your first board!
        %ol
          %li You need to define JIRA server that you want to display data from
          %li You need to select project you want to track (and any additional data)
        %p When you complete you'll have a board ready for you! You'll be able to share it with your team mates or display it on your big TV, or iPad, or any other device :-)
        %p
          If you have any questions or problems don't hesitate to
          != succeed "." do
            %a{:href => "mailto:pawel@teamstatus.tv"}> contact us
  .row
    .col-md-2
    .col-md-10
      %h3 Set up JIRA server
  .row
    .col-md-2
      %img.pull-right{ :src => image_path("jira-logo.png") }
    .col-md-6
      %form{role: "form", :name => "jiraServer", "ng-submit" => 'saveJira()', "ng-controller" => "JiraCtrl"}
        %div{ "ng-show" => "saved" }
          .alert.alert-success
            %strong Saved!
            Now
            %a.alert-link{:href => to('/boards')} set up a board
        .form-group
          %label{for: "jiraAddress"} JIRA address
          %input#jiraAddress.form-control{:placeholder => "http://your.jira.com", :type => "url", 'ng-model' => 'jira.address', :name => "jiraAddress", :required => ""}/
          %small.error{ "ng-show" => "jiraServer.jiraAddress.$error.url" } That is not a valid address
          %small.error{ "ng-show" => "jiraServer.jiraAddress.$error.required" } JIRA address is required
        .form-group
          %label{for: "jiraUsername"} JIRA username
          %input#jiraUsername.form-control{:placeholder => "username", :type => "text", 'ng-model' => 'jira.username', :name => "jiraUsername", 'ng-minlength' => 2, :required => ""}/
          %small.error{ "ng-show" => "jiraServer.jiraUsername.$error.minlength" } Username is required to be at least 2 characters
          %small.error{ "ng-show" => "jiraServer.jiraUsername.$error.required" } Username is required
        .form-group
          %label{for: "jiraPassword"} JIRA password
          %input#jiraPassword.form-control{:placeholder => "password", :type => "password", 'ng-model' => 'jira.password', :name => "jiraPassword", 'ng-minlength' => 2, :required => ""}/
          %small.error{ "ng-show" => "jiraServer.jiraPassword.$error.minlength" } Password is required to be at least 2 characters
          %small.error{ "ng-show" => "jiraServer.jiraPassword.$error.required" } Password is required
          %p
            .alert.alert-warning Password is saved plain text in our database. For security reasons please consider creating a read-only JIRA account on your server.
        %button.btn.btn-primary{:type => "submit", "ng-disabled" => "sending"} Save
        %i.icon-refresh.icon-spin{ "ng-show" => "sending" }

  %hr.footer-divider/

  %footer
    %p.pull-right
      %a{href: "#"} Back to top
    %p
      \&#169; 2013 Team Status
      \&#183;
      %a{href: "mailto:pawel@teamstatus.tv"} Contact us

